button {
    border-radius: 4px;
    color: #fff;
    font-size: 1.2em;
    padding: 8px 20px;
    text-transform: capitalize;
    background-color: #005a9b;
    border: 1px solid #005a9b;
}

button:hover {
    cursor:pointer;
}