body > header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 200;
    width: 100%;
    height: 100px;
}

.header__overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0.92;
    z-index: 210;
}

.header__logo {
    z-index: 220;
    position: absolute;
    margin: 0;
    top: 20px;
    padding-left: 100px;
}

.header__logo svg{
    height :50px;
}

.header__logo svg path {
    fill: #03B5E2;
}

header .menu {
    left: 34px;
    position: absolute;
    top: 30px;
    z-index: 220;
}

header .menu span {
    height: 2px;
    width: 36px;
    background: #000000 none repeat scroll 0 0;
    position: absolute;
    height: 3px;
    width: 44px;
}


header .menu span:nth-child(1) {
    top: 8px;
}
header .menu span:nth-child(2) {
    top: 16px;
}
header .menu span:nth-child(3) {
    top: 24px;
}

