.search-box {
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

body.search > .search-box {
    z-index: 1100;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.search-box > section {
    width: 70%;
    margin: 60px auto 0;
}

.search-box input[type=text]{
    height:50px;
}